li {
    cursor: pointer;
    padding: 5px;
    border-radius: 20px;
}

li:hover {
    background-color: #f3f1f1;
}

.completed {
    text-decoration: line-through;
    color: gray;
}

#submit-btn {
    cursor: pointer;
    border-radius: 5px;
}

#to-do-input{
    border-color: aqua;
    box-shadow: 0 0 5px rgba(0, 255, 255, 0.5);

}

ul {
    list-style-type: none;
    padding: 0;
}

body {
 background-color: rgb(179, 244, 255);
}
